doctype html

head
  title Libraries CI

  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

  link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700', rel='stylesheet')
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
  link(href='/main.css', rel='stylesheet')

body
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Libraries CI
      #navbar-main.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right

  .container
    block content

  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  script(src='/main.js')
