extends layout

block content
  h1 Your Repositories

  each repo in repos
    .row
      .col-md-3
        p
          a(href="/repos/#{repo.full_name}") #{repo.full_name}
      .col-md-1
        form(action='/webhooks', method='POST')
          input(type='hidden', name='repo', value='#{repo.full_name}')
          input.btn.btn-default(type='submit', value='Track')
      .col-md-1
        if repo.tracked
          p ✓

